*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 60vw;
    margin: 90px auto;

}
.box{
    margin: 5px;
}
.form{
    display: flex;
}
.heading-input{
    width: 30%;
    border: 1px solid black;
}